{% extends 'bas.html'%}
{% load bootstrap3 %}
{% load static %}
{%block content%}
<div class="container" style="background-color: wheat">
        <div class="row" style="padding: 20px;">
                <div class="col-md-4 text-center"  >
                    <div class="card" style="padding-bottom:48%;">
                            <h2 class="card-title" style="color:purple ;font-family: 'Fredericka the Great', cursive;">What we do</h2>
                            <hr>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiQ8QXlKKdoxmPoIkbVJHVEeVr7Eq5anGbkqLrFkA_gbPlUvWK" alt="image">
                            <hr>
                            <p style="font-size: 2em;font-family: 'Courgette', cursive;">We work together to improve our neighbourhood by holding some cleaning events once per week to safe guard our environment.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card">
                            <h2 class="card-title" style="color:purple ;font-family: 'Fredericka the Great', cursive;">How it works</h2>
                            <hr>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoJQ6Agm8w5L_TXywslwZumWUglUd_ETXsTzjV3XvZPm2okqcuQQ" alt="image">
                            <hr>
                            <p style="font-size: 2em;font-family: 'Courgette', cursive;" >Simply just create your account and login</p>
                            <p style="font-size: 2em;font-family: 'Courgette', cursive;">On the home page you will have a number of neighbourhood you can choose select one to join</p>
                            <p style="font-size: 2em;font-family: 'Courgette', cursive;">You can also create your own neighbourhood of which others can join.</p>
                    </div>
                </div>
                <div class="col-md-4  text-center">
                    <div class="card" style="padding-bottom:52%;">
                            <h2 class="card-title" style="color:purple ;font-family: 'Fredericka the Great', cursive;">Requirements</h2>
                            <hr>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_fiPwAPPNb_R87c4xGGfR9ItZb1T62-0Jywa5H_Y29rGe2tsWZg" alt="image">
                            <hr />
                            <p style="font-size: 2em;font-family: 'Courgette', cursive;">All it is needed is that you have to be a residence of around the neighbourhood.</p>
                    </div>
                </div>
            </div>
</div>
{% endblock%}