<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-expand-md ">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item" style="font-family: 'Faster One', cursive;">
                            <a class="nav-link" href="/" style="font-size: 2em;"><i class="fas fa-home"></i></a>
                        </li>
                        </ul>
                       
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="#" style="color:purple ;font-family: 'Fredericka the Great', cursive; font-size:4em;margin-top: -30px;">Majirani Pamoja</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
                        <ul class="navbar-nav mr-auto" style="margin-left: 80%;">
                        <li class="nav-item " style="font-family: 'Faster One', cursive;">
                        <a class="nav-link" href="/accounts/login" style="font-size:2em;"><i class="fas fa-sign-in-alt"></i>log in</a>
                    </li>
                    </ul>
                </div>
                
            </nav>
</body>
</html>