{% block body %}

<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <div class="navbar-translate">
                <a href="{% url 'welcome'%}"><img src="https://findicons.com/files/icons/694/longhorn_r2/128/back_button.png" alt="button" height="30px" style="margin-left:-80px;margin-top:-10px;"></a> 
            <a class="navbar-brand" href="{%url 'Home'%}" style="color:purple ;font-family: 'Fredericka the Great', cursive; font-size:4em;margin-top: -30px;"><strong>Majirani Pamoja</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <form class="form-inline ml-auto" role="search" action="{% url 'search_biz' %}" >
                <div class="form-group no-border">
                  <input type="search" name="project" class="form-control" placeholder="Search Project">
                </div>
                <button type="submit" class="btn btn-white btn-just-icon btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
               <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile' %}"><strong><i class="fas fa-user-circle">{{user.username}}</i></strong></a>
              </li>&nbsp;
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'edit_profile' %}"><strong><i class="fas fa-user-plus"></i></strong></a>
              </li>&nbsp;&nbsp;
                 <li class="nav-item active">
                  <a class="nav-link" href="{% url 'newhood' %}"><strong>create Hood</strong></a>
              </li>&nbsp;&nbsp;
                <li class="nav-item active">
                  <a class="nav-link" href="/logout/"><strong>Logout</strong></a>
              </li>
                 {% else %}&nbsp;
              <li class="nav-item active">
                    <a class="nav-link" href="/accounts/login" style="font-size:2em;"><i class="fas fa-sign-in-alt"></i>log in</a>
              </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock body %}